<!DOCTYPE html>
    <html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon.apple-touch-icon.png | asset_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon-32x32.png | asset_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon-16x16.png | asset_url }}">
        <link rel="manifest" href="{{ favicon.site.webmanifest | asset_url }}">
        <title>Cre8iveDev's Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
        {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
        {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
        {{ 'animate.min.css' | asset_url | stylesheet_tag }}
        {{ 'creatic.style.css' | asset_url | stylesheet_tag }}
        {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
        {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
        {{ 'jquery.mCustomScrollbar.min.css' | asset_url | stylesheet_tag }}
        {{ 'Rage-Italic.css' | asset_url | stylesheet_tag }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ 'responsive.css' | asset_url | stylesheet_tag }}
        {{ content_for_header }}
    </head>
    
    <body class="home-one bg-gray-700 px-10 py-20 mx-auto">
        <div class="preloader"></div><!-- /.preloader -->
        <main class="page-wrapper">
            <div class="banner-wrapper" id="home">
                <div class="banner-one__nav">
                    <a href="#" class="banner-one__nav-left"><i class="fa fa-angle-left"></i><!-- /.fa fa-angle-left --></a>
                    <a href="#" class="banner-one__nav-right"><i class="fa fa-angle-right"></i>
                        <!-- /.fa fa-angle-right --></a>
                </div><!-- /.banner-one__nav -->
                <section class="banner-one banner-carousel__one owl-theme owl-carousel">
                    <div class="item">
                        <div class="banner-one__slide  banner-one__slide-one" style="background-image: url({{ 'slider-1-2.jpg' | asset_url }});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h3 class="banner-one__title banner-one__light-color">Introducing <br>
                                            Creatic Template</h3>
                                        <p class="banner-one__text banner-one__light-color">Excepteur sint occaecat
                                            cupidatat non
                                            proident sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p>
                                        <div class="banner-one__btn-block">
                                            <a href="#" class="thm-btn banner-one__btn">Discover More</a>
                                        </div><!-- /.btn-block -->
                                    </div><!-- /.col-lg-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div><!-- /.banner-one__slide -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="banner-one__slide  banner-one__slide-two"
                            style="background-image: url({{ 'slider-1-1.jpg' | asset_url }});">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h3 class="banner-one__title banner-one__light-color">Shopify <br>
                                            Online Store 2.0</h3>
                                        <p class="banner-one__text banner-one__light-color">Lorem ipsum dolor sit 
                                        amet, consectetur adipiscing elit. Vestibulum fringilla <br>  a leo bibendum facilisis.</p>
                                        <div class="banner-one__btn-block">
                                            <a href="#" class="thm-btn banner-one__btn">Discover More</a>
                                        </div><!-- /.btn-block -->
                                    </div><!-- /.col-lg-12 -->
                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div><!-- /.banner-one__slide -->
                    </div><!-- /.item -->
                </section><!-- /.banner-one -->
            </div><!-- /.banner-wrapper -->
            <section class="service-two" id="about">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Discover the world of creatic</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">We are committed to providing our customers with exceptional service
                            <br>
                            while offering our employees the best training.</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="service-two__single">
                                <div class="service-two__img">
                                    <img src="{{ 'service-1-2.jpg' | asset_url }}" alt="">
                                </div><!-- /.service-two__img -->
                                <div class="service-two__content">
                                    <h2 class="service-two__title"><a href="#">The Best One Page
                                            Template You’ll Ever Need</a></h2><!-- /.service-two__title -->
                                    <a href="#" class="service-two__link"><i class="fa fa-angle-double-right"></i>
                                        <!-- /.fa fa-angle-double-right --></a><!-- /.service-two__link -->
                                </div><!-- /.service-two__content -->
                            </div><!-- /.service-two__single -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="service-two__single">
                                <div class="service-two__img">
                                    <img src="{{  'service-1-1.jpg' | asset_url }}" alt="">
                                </div><!-- /.service-two__img -->
                                <div class="service-two__content">
                                    <h2 class="service-two__title"><a href="#">An All-in-One Web
                                            Solution for Your
                                            Business</a></h2><!-- /.service-two__title -->
                                    <a href="#" class="service-two__link"><i class="fa fa-angle-double-right"></i>
                                        <!-- /.fa fa-angle-double-right --></a><!-- /.service-two__link -->
                                </div><!-- /.service-two__content -->
                            </div><!-- /.service-two__single -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.service-two -->
            <section class="service-one thm-gray-bg">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Services we are offering</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Over half of the fortune 100. Creatic design used by busy people from
                            <br>
                            amazing companies all over the world.

                        </p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="service-one__carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-1.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Creatic across all
                                        devices</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-2.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Endless design
                                        possibilities</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-3.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Customer direct
                                        approach</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-4.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Premium quality
                                        services</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-1.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Creatic across all
                                        devices</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-2.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Endless design
                                        possibilities</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-3.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Customer direct
                                        approach</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="service-one__single">
                                <img src="{{ 'icon-1-4.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Premium quality
                                        services</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->
                        </div><!-- /.item -->
                        <div class="item">

                            <div class="service-one__single">
                                <img src="{{ 'icon-1-2.png' | asset_url }}" alt="">
                                <h2 class="service-one__title"><a href="#">Endless design
                                        possibilities</a></h2><!-- /.service-one__title -->
                                <p class="service-one__text">There are many variations of passages of lorem Ipsum available
                                    but the
                                    majority have suffered.</p><!-- /.service-one__text -->
                            </div><!-- /.service-one__single -->

                        </div><!-- /.item -->
                    </div><!-- /.service-one__carousel owl-carousel owl-theme -->
                </div><!-- /.container -->
            </section><!-- /.service-one -->
            <section class="testimonials-one">
                <div class="container">
                    <div class="testimonials-one__carousel owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-one__single">
                                <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                                <p class="testimonials-one__text">This is due to their excellent service, competitive
                                    pricing and
                                    customer support. It’s throughly refresing to get such a personal touch.
                                </p><!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__name">Jacob Holmes</h3><!-- /.testimonials-one__name -->
                            </div><!-- /.testimonials-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="testimonials-one__single">
                                <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                                <p class="testimonials-one__text">This is due to their excellent service, competitive
                                    pricing and
                                    customer support. It’s throughly refresing to get such a personal touch.
                                </p><!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__name">Alberta Chambers</h3><!-- /.testimonials-one__name -->
                            </div><!-- /.testimonials-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="testimonials-one__single">
                                <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                                <p class="testimonials-one__text">This is due to their excellent service, competitive
                                    pricing and
                                    customer support. It’s throughly refresing to get such a personal touch.
                                </p><!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__name">Wayne Robinson</h3><!-- /.testimonials-one__name -->
                            </div><!-- /.testimonials-one__single -->
                        </div><!-- /.item -->
                        <div class="item">
                            <div class="testimonials-one__single">
                                <img src="{{ 'testi-qoute-1-1.png' | asset_url }}" alt="">
                                <p class="testimonials-one__text">This is due to their excellent service, competitive
                                    pricing and
                                    customer support. It’s throughly refresing to get such a personal touch.
                                </p><!-- /.testimonials-one__text -->
                                <h3 class="testimonials-one__name">Nora Keller</h3><!-- /.testimonials-one__name -->
                            </div><!-- /.testimonials-one__single -->
                        </div><!-- /.item -->
                    </div><!-- /.testimonials-one__carousel -->
                </div><!-- /.container -->
            </section><!-- /.testimonials-one -->
            <section class="progress-one">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <div class="progress-one__content">
                                <div class="block-title text-left">
                                    <h2 class="block-title__title">We are the stand out <br>
                                        experts in business</h2><!-- /.block-title__title -->
                                    <span class="block-title__line"></span><!-- /.block-title__line -->
                                    <p class="block-title__text">We believe that success is achieved through a highly
                                        collaborative
                                        interaction, so that we can work together to identify and evaluate opportunities
                                        beyond your
                                        current operations. </p><!-- /.block-title__text -->
                                </div><!-- /.block-title -->
                            </div><!-- /.progress-one__content -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="progress-one__single">
                                        <div class="progress-one__top">
                                            <div class="circular-progress" data-color="#ed2c41" id="progress-1"
                                                data-progress-count=".90">
                                                <div class="other-ball" id="progress-1-other-ball"></div>
                                                <!-- /.other-ball -->
                                            </div><!-- /.circular-progress -->
                                            <div class="progress-one__text-box">90%</div><!-- /.progress-one__text-box -->
                                        </div><!-- /.progress-one__top -->
                                        <h3 class="progress-one__title">Quality <br>
                                            Services</h3>
                                    </div><!-- /.progress-one__single -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="progress-one__single">
                                        <div class="progress-one__top">
                                            <div class="circular-progress" data-color="#ed2c41" id="progress-2"
                                                data-progress-count=".50">
                                                <div class="other-ball" id="progress-2-other-ball"></div>
                                                <!-- /.other-ball -->
                                            </div><!-- /.circular-progress -->
                                            <div class="progress-one__text-box">50%</div><!-- /.progress-one__text-box -->
                                        </div><!-- /.progress-one__top -->
                                        <h3 class="progress-one__title">Skilled <br>
                                            Employee</h3>
                                    </div><!-- /.progress-one__single -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-xl-6 col-lg-12 d-flex justify-content-xl-end">
                            <div class="video-one wow fadeInRight" data-wow-duration="1500ms">
                                <img src="{{ 'video-1-1.jpg' | asset_url }}" alt="">
                                <a href="#" class="video-one__play"><i class="fa fa-play"></i><!-- /.fa fa-play --></a>
                                <!-- /.video-one__play -->
                            </div><!-- /.video-one -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.progress-one -->
            <section class="portfolio-one thm-gray-bg" id="portfolio">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Our latest projects</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Over half of the fortune 100. Creatic design used by busy people from
                            <br>
                            amazing companies all over the world.</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-1.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-2.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-3.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-4.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-5.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <img src="{{ 'gallery-1-6.jpg' | asset_url }}" alt="">
                                <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                                    <!-- /.fa fa-search --></a>
                                <div class="portfolio-one__content">
                                    <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                                    <!-- /.portfolio-one__title -->
                                    <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                            href="#">Media</a>
                                    </p>
                                    <!-- /.portfolio-one__category -->
                                </div><!-- /.portfolio-one__content -->
                            </div><!-- /.portfolio-one__single -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.portfolio-one -->
            <section class="team-one" id="team">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Meet the creatic experts</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">At the Creatic company, we have assembled an outstanding team, who <br>
                            are
                            skilled in the business and corporate fields.</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <div class="team-one__img">
                                    <img src="{{ 'team-1-1.jpg' | asset_url }}" alt="">
                                </div><!-- /.team-one__img -->
                                <div class="team-one__content">
                                    <h2 class="team-one__name">Susie Black</h2><!-- /.team-one__name -->
                                    <p class="team-one__designation">Co Founder</p><!-- /.team-one__designation -->
                                    <div class="team-one__social">
                                        <a href="#"><i class="fa fa-twitter"></i><!-- /.fa fa-twitter --></a>
                                        <a href="#"><i class="fa fa-facebook-f"></i><!-- /.fa fa-twitter --></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content -->
                            </div><!-- /.team-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <div class="team-one__img">
                                    <img src="{{ 'team-1-2.jpg' | asset_url }}" alt="">
                                </div><!-- /.team-one__img -->
                                <div class="team-one__content">
                                    <h2 class="team-one__name">Ernest McBride</h2><!-- /.team-one__name -->
                                    <p class="team-one__designation">Co Founder</p><!-- /.team-one__designation -->
                                    <div class="team-one__social">
                                        <a href="#"><i class="fa fa-twitter"></i><!-- /.fa fa-twitter --></a>
                                        <a href="#"><i class="fa fa-facebook-f"></i><!-- /.fa fa-twitter --></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content -->
                            </div><!-- /.team-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <div class="team-one__img">
                                    <img src="{{ 'team-1-3.jpg' | asset_url }}" alt="">
                                </div><!-- /.team-one__img -->
                                <div class="team-one__content">
                                    <h2 class="team-one__name">Marie Pratt</h2><!-- /.team-one__name -->
                                    <p class="team-one__designation">Co Founder</p><!-- /.team-one__designation -->
                                    <div class="team-one__social">
                                        <a href="#"><i class="fa fa-twitter"></i><!-- /.fa fa-twitter --></a>
                                        <a href="#"><i class="fa fa-facebook-f"></i><!-- /.fa fa-twitter --></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content -->
                            </div><!-- /.team-one__single -->
                        </div><!-- /.col-lg-4 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.team-one -->
            <section class="funfact-one">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="funfact-one__content">
                                <div class="block-title text-left">
                                    <h2 class="block-title__title">We Work Hard: We Don’t <br>
                                        Waste Time</h2><!-- /.block-title__title -->
                                    <span class="block-title__line"></span><!-- /.block-title__line -->
                                    <p class="block-title__text">There are many variations of passages of Lorem Ipsum
                                        available, but
                                        the majority is have suffered alteration in some form, by injected humour, or
                                        randomised
                                        words which don't look even slightly believable. If you are going to use a lorem
                                        passage of
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        middle of
                                        text.</p><!-- /.block-title__text -->
                                </div><!-- /.block-title -->
                                <div class="funfact-one__wrap">
                                    <div class="funfact-one__single text-center">
                                        <div class="funfact-one__single-inner">
                                            <h2 class="funfact-one__number counter">875</h2><!-- /.funfact-one__number -->
                                            <p class="funfact-one__text">Projects Completed</p><!-- /.funfact-one__text -->
                                        </div><!-- /.funfact-one__single-inner -->
                                    </div><!-- /.funfact-one__single -->
                                    <div class="funfact-one__single text-center">
                                        <div class="funfact-one__single-inner">
                                            <h2 class="funfact-one__number counter">303
                                            </h2><!-- /.funfact-one__number -->
                                            <p class="funfact-one__text">Active Clients</p><!-- /.funfact-one__text -->
                                        </div><!-- /.funfact-one__single-inner -->
                                    </div><!-- /.funfact-one__single -->
                                    <div class="funfact-one__single text-center">
                                        <div class="funfact-one__single-inner">
                                            <h2 class="funfact-one__number counter">75
                                            </h2><!-- /.funfact-one__number -->
                                            <p class="funfact-one__text">Cups of Coffee</p><!-- /.funfact-one__text -->
                                        </div><!-- /.funfact-one__single-inner -->
                                    </div><!-- /.funfact-one__single -->
                                </div><!-- /.funfact-one__wrap -->
                            </div><!-- /.funfact-one__content -->
                        </div><!-- /.col-lg-8 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.funfact-one -->
            <section class="pricing-one" id="pricing">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Select a right plan for you</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Choose a right monthly subscription for your business, and you can <br>
                            cancel
                            your subscription any time. No hard feeling.
                            while offering our employees the best training.</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="row">
                        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0000ms">
                            <div class="pricing-one__single text-center"
                                style="background-image: url({{ 'pricing-1-1.jpg' | asset_url }});">
                                <div class="pricing-one__inner">
                                    <span class="pricing-one__period">Monthly</span><!-- /.pricing-one__period -->
                                    <h3 class="pricing-one__title">Standard</h3><!-- /.pricing-one__title -->
                                    <p class="pricing-one__amount"><span>$</span> 25.00</p><!-- /.pricing-one__amount -->
                                    <span class="pricing-one__line"></span><!-- /.pricing-one__line -->
                                    <ul class="list-unstyled pricing-one__list">
                                        <li>10 pages</li>

                                        <li>500 Gb storage</li>

                                        <li>Integrated e-commerce</li>

                                        <li>Custom domain free</li>

                                        <li>24/7 Customer support</li>
                                    </ul><!-- /.list-unstyled pricing-one__list -->
                                    <a href="#" class="pricing-one__btn thm-btn">Get Started</a><!-- /.pricing-one__btn -->
                                </div><!-- /.pricing-one__inner -->
                            </div><!-- /.pricing-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 wow fadeInUp" data-wow-delay="1000ms">
                            <div class="pricing-one__single text-center"
                                style="background-image: url({{ 'pricing-1-2.jpg' | asset_url }});">
                                <div class="pricing-one__inner">
                                    <span class="pricing-one__period">Monthly</span><!-- /.pricing-one__period -->
                                    <h3 class="pricing-one__title">Professional</h3><!-- /.pricing-one__title -->
                                    <p class="pricing-one__amount"><span>$</span> 35.00</p><!-- /.pricing-one__amount -->
                                    <span class="pricing-one__line"></span><!-- /.pricing-one__line -->
                                    <ul class="list-unstyled pricing-one__list">
                                        <li>10 pages</li>

                                        <li>500 Gb storage</li>

                                        <li>Integrated e-commerce</li>

                                        <li>Custom domain free</li>

                                        <li>24/7 Customer support</li>
                                    </ul><!-- /.list-unstyled pricing-one__list -->
                                    <a href="#" class="pricing-one__btn thm-btn">Get Started</a><!-- /.pricing-one__btn -->
                                </div><!-- /.pricing-one__inner -->
                            </div><!-- /.pricing-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4 wow fadeInUp" data-wow-delay="2000ms">
                            <div class="pricing-one__single text-center"
                                style="background-image: url({{ 'pricing-1-3.jpg' | asset_url }});">
                                <div class="pricing-one__inner">
                                    <span class="pricing-one__period">Monthly</span><!-- /.pricing-one__period -->
                                    <h3 class="pricing-one__title">Premium</h3><!-- /.pricing-one__title -->
                                    <p class="pricing-one__amount"><span>$</span> 45.00</p><!-- /.pricing-one__amount -->
                                    <span class="pricing-one__line"></span><!-- /.pricing-one__line -->
                                    <ul class="list-unstyled pricing-one__list">
                                        <li>10 pages</li>

                                        <li>500 Gb storage</li>

                                        <li>Integrated e-commerce</li>

                                        <li>Custom domain free</li>

                                        <li>24/7 Customer support</li>
                                    </ul><!-- /.list-unstyled pricing-one__list -->
                                    <a href="#" class="pricing-one__btn thm-btn">Get Started</a><!-- /.pricing-one__btn -->
                                </div><!-- /.pricing-one__inner -->
                            </div><!-- /.pricing-one__single -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.pricing-one -->
            <section class="brand-one">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Clients who have trusted us</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Over half of the fortune 100. Creatic design used by busy people from
                            <br>
                            amazing companies all over the world.
                        </p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="brand-one__carousel owl-carousel owl-theme">
                        <div class="item">
                            <img src="{{ 'brand-1-1.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-2.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-3.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-4.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-5.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-6.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-1.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-2.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-3.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-4.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-5.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-6.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-1.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-2.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-3.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-4.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-5.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                        <div class="item">
                            <img src="{{ 'brand-1-6.jpg' | asset_url }}" alt="">
                        </div><!-- /.item -->
                    </div><!-- /.brand-one__carousel -->
                </div><!-- /.container -->
            </section><!-- /.brand-one -->
            <section class="blog-one blog-one__home-one" id="blog">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Check out our latest news</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Our recent blog posts, news, media assets and latest updates about <br>
                            creatic
                            - all available only in one place</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog-one__single">
                                <div class="blog-one__image wow fadeIn" data-wow-duration="1s">
                                    <img src="{{ 'blog-1.jpg' | asset_url }}" alt="">
                                </div><!-- /.blog-one__image -->
                                <div class="blog-one__content">
                                    <h3 class="blog-one__title"><a href="blog-details.html">Learn basic rules of new
                                            corporate
                                            business</a></h3><!-- /.blog-one__title -->
                                    <div class="blog-one__meta">
                                        <a href="#" class="blog-one__meta-link"><i class="fa fa-user"></i>By admin</a>
                                        <!-- /.blog-one__meta-link -->
                                        <a href="#" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>March 5th,
                                            2018</a>
                                        <!-- /.blog-one__meta-link -->
                                    </div><!-- /.blog-one__meta -->
                                    <p class="blog-one__text">Lorem Ipsum is simply dummy text of the new design printng and
                                        type
                                        setting Ipsum has been the is industrys ...</p><!-- /.blog-one__text -->
                                    <a href="#" class="blog-one__link">Read More</a><!-- /.blog-one__link -->
                                </div><!-- /.blog-one__content -->
                            </div><!-- /.blog-one__single -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="blog-one__single">
                                <div class="blog-one__image wow fadeIn" data-wow-duration="1s">
                                    <img src="{{ 'blog-2.jpg' | asset_url }}" alt="">
                                </div><!-- /.blog-one__image -->
                                <div class="blog-one__content">
                                    <h3 class="blog-one__title"><a href="blog-details.html">Learn basic rules of new
                                            corporate
                                            business</a></h3>
                                    <!-- /.blog-one__title -->
                                    <div class="blog-one__meta">
                                        <a href="#" class="blog-one__meta-link"><i class="fa fa-user"></i>By admin</a>
                                        <!-- /.blog-one__meta-link -->
                                        <a href="#" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>March 5th,
                                            2018</a>
                                        <!-- /.blog-one__meta-link -->
                                    </div><!-- /.blog-one__meta -->
                                    <p class="blog-one__text">Lorem Ipsum is simply dummy text of the new design printng and
                                        type
                                        setting Ipsum
                                        has been the is industrys ...</p><!-- /.blog-one__text -->
                                    <a href="#" class="blog-one__link">Read More</a><!-- /.blog-one__link -->
                                </div><!-- /.blog-one__content -->
                            </div><!-- /.blog-one__single -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.blog-one -->
            <section class="cta-one">
                <div class="container">
                    <h2 class="cta-one__title">Join creatic team now. Are you ready to <br>
                        change the game?</h2><!-- /.cta-one__title -->
                    <div class="cta-one__button-block">
                        <a href="#" class="thm-btn">Join Now</a><!-- /.thm-btn -->
                    </div><!-- /.cta-one__button-block -->
                </div><!-- /.container -->
            </section><!-- /.cta-one -->
            <section class="map-one">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                    class="google-map__contact" allowfullscreen></iframe>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="map-one__single wow fadeInUp " data-wow-duration="1500ms">
                                <h3 class="map-one__title">United Kingdom</h3><!-- /.map-one__title -->
                                <ul class="map-one__list list-unstyled">
                                    <li><i class="fa fa-map-marker"></i> 35 Street, Deerfield Valdosta Road, <br> United
                                        Kingdom
                                    </li>
                                    <li><i class="fa fa-envelope"></i>Inquiry@creatic.com </li>
                                    <li><i class="fa fa-phone"></i>2800 256 508 </li>
                                </ul><!-- /.map-one__list -->
                            </div><!-- /.map-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="map-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <h3 class="map-one__title">Australia</h3><!-- /.map-one__title -->
                                <ul class="map-one__list list-unstyled">
                                    <li><i class="fa fa-map-marker"></i> 35 Street, Deerfield Valdosta Road, <br> United
                                        Kingdom
                                    </li>
                                    <li><i class="fa fa-envelope"></i>Inquiry@creatic.com </li>
                                    <li><i class="fa fa-phone"></i>2800 256 508 </li>
                                </ul><!-- /.map-one__list -->
                            </div><!-- /.map-one__single -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="map-one__single wow fadeInUp" data-wow-duration="1500ms">
                                <h3 class="map-one__title">United State</h3><!-- /.map-one__title -->
                                <ul class="map-one__list list-unstyled">
                                    <li><i class="fa fa-map-marker"></i> 35 Street, Deerfield Valdosta Road, <br> United
                                        Kingdom
                                    </li>
                                    <li><i class="fa fa-envelope"></i>Inquiry@creatic.com </li>
                                    <li><i class="fa fa-phone"></i>2800 256 508 </li>
                                </ul><!-- /.map-one__list -->
                            </div><!-- /.map-one__single -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.map-one -->
            <section class="contact-one" id="contact">
                <div class="container">
                    <div class="block-title text-center">
                        <h2 class="block-title__title">Have any question?</h2><!-- /.block-title__title -->
                        <span class="block-title__line"></span><!-- /.block-title__line -->
                        <p class="block-title__text">Thank you for your interest in our website & our services. If you have
                            <br> any
                            questions, please write us a message now!</p><!-- /.block-title__text -->
                    </div><!-- /.block-title -->

                    <form action="{{ 'sendemail.php' | asset_url }}" class="contact-one__form contact-form-validated row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="First name" name="fname">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" placeholder="Last name" name="lname">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" placeholder="Email address" name="email">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <input type="text" placeholder="Phone number" name="phone">
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <textarea name="message" placeholder="Write message"></textarea>
                            <div class="text-center">
                                <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
                            </div><!-- /.text-center -->
                        </div><!-- /.col-lg-12 -->
                    </form><!-- /.contact-one__form -->
                    <div class="result"></div><!-- /.result -->
                </div><!-- /.container -->
            </section><!-- /.contact-one -->
            {{ content_for_layout }}

        {% section 'footer-home' %}        

        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
        {{ 'jquery.min.js' | asset_url | script_tag }}
        {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
        {{ 'TweenMax.min.js' | asset_url | script_tag }}
        {{ 'owl.carousel.min.js' | asset_url | script_tag }}
        {{ 'jquery.easing.min.js' | asset_url | script_tag }}
        {{ 'wow.js' | asset_url | script_tag }}
        {{ 'waypoints.min.js' | asset_url | script_tag }}
        {{ 'jquery.counterup.min.js' | asset_url | script_tag }}
        {{ 'progressbar.min.js' | asset_url | script_tag }}
        {{ 'jquery.mCustomScrollbar.concat.min.js' | asset_url | script_tag }}
        {{ 'typed.min.js' | asset_url | script_tag }}
        {{ 'jquery.validate.min.js' | asset_url | script_tag }}
        {{ 'theme.js' | asset_url | script_tag }}
    </body>
</html>
