<section class="service-two" id="about">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.section_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.section_description }}</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-lg-6">
                    <div class="service-two__single">
                        <div class="service-two__img">
                            <img src="{{ block.settings.block_image }}" alt="{{ block.settings.block_image.alt }}">
                        </div><!-- /.service-two__img -->
                        <div class="service-two__content">
                            <h2 class="service-two__title"><a href="{{ block.settings.block_link }}">{{ block.settings.block_heading }}</a></h2><!-- /.service-two__title -->
                            <a href="{{ block.settings.block_link }}" class="service-two__link"><i class="fa fa-angle-double-right"></i>
                                <!-- /.fa fa-angle-double-right --></a><!-- /.service-two__link -->
                        </div><!-- /.service-two__content -->
                    </div><!-- /.service-two__single -->
                </div><!-- /.col-lg-6 -->
            {% endfor %}

            {% comment %}
            <div class="col-lg-6">
                <div class="service-two__single">
                    <div class="service-two__img">
                        <img src="{{ 'service-1-1.jpg' | asset_url }}" alt="">
                    </div><!-- /.service-two__img -->
                    <div class="service-two__content">
                        <h2 class="service-two__title"><a href="#">An All-in-One Web
                                Solution for Your
                                Business</a></h2><!-- /.service-two__title -->
                        <a href="#" class="service-two__link"><i class="fa fa-angle-double-right"></i>
                            <!-- /.fa fa-angle-double-right --></a><!-- /.service-two__link -->
                    </div><!-- /.service-two__content -->
                </div><!-- /.service-two__single -->
            </div><!-- /.col-lg-6 -->
            {% endcomment %}

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-two -->

{% schema %}
{
    "name": "About Section",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Discover Shopify Stores 2.0"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description",
            "default": "Replace this text from inside the Customizer > About"
        }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "type": "about",
            "name": "About block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "block_image",
                    "label": "Upload an image"
                },
                {
                    "type": "text",
                    "id": "block_heading",
                    "label": "Block heading",
                    "default": "Replace this text from inside the Customizer > About"
                },
                {
                    "type": "textarea",
                    "id": "block_link",
                    "label": "Link URL"
                }
            ]
        }
    ]
}
{% endschema %}