<header class="site-header header-dark site-header__header-one ">
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="logo-box clearfix">
                <a class="navbar-brand" href="/">
                    <img src="{{ section.settings.logo_img | img_url: 'master' }}" class="main-logo" width="{{ section.settings.img_width_range }}" alt="{{ section.settings.logo_img.alt }}" />
                </a>
                <button class="menu-toggler" data-target=".main-navigation">
                    <span class="creatic-menu"></span>
                </button>
            </div><!-- /.logo-box -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="main-navigation">
                <ul class=" navigation-box one-page-scroll-menu ">
                    {% for link in section.settings.menu.links %}
                        {%comment%}
                        {% if link.links != blank %}
                            {% assign link_handle = link.handle %}
                        <li class="scrollToLink" x-data="{ {{ link_handle }}: false }">
                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                            {% if child_link.links.size > 0 %}
                                <ul class="sub-menu">
                                  {% for grandchild_link in child_link.links %}
                                    <li class="grandchild-menu">
                                      <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul><!-- /.sub-menu -->
                              {% endif %}
                        </li>
                        {% endif %}
                        {%endcomment%}
                        
                        {% if link.links != blank %}                            
                            {% assign link_handle = link.handle %}
                            <li class="scrollToLink menu-item{% if link.links.size > 0 %} x-data=\"{ {{ link_handle }}: false }\"{% endif %}">
                                <a href="{{ link.url }}">{{ link.title }} {% render 'icon-chevron-down' %}</a>                               
                                {% if link.links.size > 0 %}
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                                    </ul><!-- /.sub-menu -->
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="scrollToLink">
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="right-side-box">
                <a href="#" class="search-popup__toggler"><i class="creatic-search"></i>
                    <!-- /.creatic-search --></a>
                <a href="#" class="sidemenu__toggler side-menu__toggler"><i class="creatic-menu"></i>
                    <!-- /.creatic-menu --></a>
            </div><!-- /.right-side-box -->
        </div>
        <!-- /.container -->
    </nav>
</header><!-- /.site-header -->

{% style %}
    .navigation-box li svg {
        margin-left: 10px;
        width: 20px;
    }

    .site-header.header-dark {
        background-color: #1b181a;
    }

    .header-navigation ul.navigation-box > li {
        padding: 18px 0;
    }

    .preloader {
        background-image: url({{"preloader.gif"|asset_url}});
    }

    .home-two .preloader {
        background-image: url({{"preloader-2.gif"|asset_url}});
    }
{% endstyle %}

{% schema %}
{
    "name": "Header Dark",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo_img",
            "label": "Upload your logo"
        },
        {
            "type": "range",
            "id": "img_width_range",
            "min": 100,
            "max": 170,
            "step": 2,
            "unit": "px",
            "label": "Logo width",
            "default": 164
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading Nav Menu"
        }
    ],
    "presets": [
      {
        "name": "Header [Dark]",
        "category": "Section"
      }
    ]
}
{% endschema %}