{% comment %}
    Use sparingly for subpages only. The height of this header is smaller compared to hero.liquid
{% endcomment %}
<div class="inner-banner-one" style="background-color: {{ bg_color }};">
    <div class="container">
        <h2 class="inner-banner-one__title">{{ section.settings.banner_heading }}</h2><!-- /.inner-banner-one__title -->
        <ul class="list-unstyled thm-breadcrumb">
            {% for block in section.blocks %}
                <li{% if block.settings.active_link %} class="active"{% endif %}><a href="{{ block.settings.link_url }}">{{ block.settings.block_text }}</a></li>
            {% endfor %}
        </ul><!-- /.list-unstyled thm-breadcrumb -->
    </div><!-- /.container -->
</div><!-- /.inner-banner-one -->

{% style %}
    .inner-banner-one {
        background-image: url({{ section.settings.bg_image | img_url: 'large' }});
        opacity: 0.9;
    }

    .inner-banner-one ul li.active a:hover {
        color: #ffffff !important;
    }
{% endstyle %}

{% schema %}
{
    "name": "Hero Banner",
    "settings": [
        {
            "type": "color",
            "id": "hero_text_color",
            "label": "Hero text color",
            "default": "#ffffff",
            "info": "Outputs a collection picker field. Outputting the setting directly will returns the color object. 'blank' if no selection has been made."
        },
        {
            "type": "text",
            "id": "banner_heading",
            "label": "Banner heading",
            "default": "Banner heading"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Upload a background image"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#1b181a"
        },
        {
            "type": "checkbox",
            "id": "show_bg_image",
            "label": "Show background image",
            "default": true
        }        
    ],
    "blocks": [
        {
            "type": "link",
            "name": "Link",
            "settings": [
                {
                    "type": "text",
                    "id": "block_text",
                    "label": "Link text",
                    "info": "Change me"
                },
                {
                    "type": "text",
                    "id": "link_url",
                    "label": "Link URL",
                    "info": "https://"
                },
                {
                    "type": "checkbox",
                    "id": "active_link",
                    "label": "Make active link",
                    "default": false
                } 
            ]
        }
    ],
    "presets": [
      {
        "name": "Hero Banner",
        "category": "Section"
      }
    ]
}
{% endschema %}