<div class="hero banner-wrapper" id="home">
    <div class="banner-one__nav">
        <a href="#" class="banner-one__nav-left"><i class="fa fa-angle-left"></i><!-- /.fa fa-angle-left --></a>
        <a href="#" class="banner-one__nav-right"><i class="fa fa-angle-right"></i>
            <!-- /.fa fa-angle-right --></a>
    </div><!-- /.banner-one__nav -->
    <section class="banner-one banner-carousel__one owl-theme owl-carousel">
    {% for block in section.blocks %}
        {% if forloop.length > 1 %}
            {% case forloop.index %}
                {% when 1 %}
                    {% assign loop_index = "one" %}
                {% when 2 %}
                    {% assign loop_index = "two" %}
                {% when 3 %}
                    {% assign loop_index = "three" %}
                {% when 4 %}
                    {% assign loop_index = "four" %}
                {% when 5 %}
                    {% assign loop_index = "five" %}
            {% endcase %}
            <div class="item">
                <div class="banner-one__slide  banner-one__slide-{{ loop_index }}"
                    style="background-image: url({{ block.settings.slider_image }});">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h3 class="banner-one__title banner-one__light-color">{{ block.settings.slide_headline }}</h3>
                                <p class="banner-one__text banner-one__light-color">{{ block.settings.slide_description }}</p>
                                <div class="banner-one__btn-block">
                                    <a href="{{ block.settings.btn_link }}" class="thm-btn banner-one__btn">{{ block.settings.btn_text }}</a>
                                </div><!-- /.btn-block -->
                            </div><!-- /.col-lg-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.banner-one__slide -->
            </div><!-- /.item -->
        {% endif %}
    {% endfor %}

        {% comment %}
        <div class="item">
            <div class="banner-one__slide  banner-one__slide-two"
                style="background-image: url({{ 'slider-1-1.jpg' | asset_url }});">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="banner-one__title banner-one__light-color">Shopify <br>
                                Online Store 2.0</h3>
                            <p class="banner-one__text banner-one__light-color">Lorem ipsum dolor sit 
                            amet, consectetur adipiscing elit. Vestibulum fringilla <br>  a leo bibendum facilisis.</p>
                            <div class="banner-one__btn-block">
                                <a href="#" class="thm-btn banner-one__btn">Discover More</a>
                            </div><!-- /.btn-block -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.banner-one__slide -->
        </div><!-- /.item -->
        {% endcomment %}
    </section><!-- /.banner-one -->
</div><!-- /.banner-wrapper -->

{% schema %}
{
    "name": "Hero Section",
    "max_blocks": 5,
    "blocks": [
        {
            "type": "slider-image",
            "name": "Slider image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slider_image",
                    "label": "Upload a slider image"
                },
                {
                    "type": "text",
                    "id": "slide_headline",
                    "label": "Slide headline",
                    "default": "Awesome slider headline"
                },
                {
                    "type": "textarea",
                    "id": "slide_description",
                    "label": "Description",
                    "default": "Awesome slider description"
                },
                {
                    "type": "checkbox",
                    "id": "show_btn",
                    "label": "Show slider button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Discover More +"
                },
                {
                    "type": "textarea",
                    "id": "btn_link",
                    "label": "Button URL"
                }
            ]
        }
    ]
}
{% endschema %}