<div class="portfolio-popup">
    <div class="portfolio-popup__overlay custom-cursor__overlay">
        <div class="cursor"></div>
        <div class="cursor-follower"></div>
    </div><!-- /.search-popup__overlay -->
    <div class="portfolio-popup__inner">
        <div class="container">
            <div class="portfolio-popup__image">
                <img src="{{ 'portfolio-d-1-1.jpg' | asset_img_url }}" alt="">
            </div><!-- /.portfolio-popup__image -->
            <div class="portfolio-popup__bottom">
                <div class="row">
                    <div class="col-lg-8 d-flex">
                        <div class="portfolio-popup__content my-auto">
                            <h2 class="portfolio-popup__title blog-details__title"><a href="{{ section.settings.heading_link }}">{{ section.settings.section_heading}}</a></h2>
                            <!-- /.portfolio-popup__title -->
                            <div class="blog-one__meta">
                                {% for block in section.blocks %}
                                    <a href="{{ block.settings.meta_link }}" class="blog-one__meta-link"><i class="{{ block.settings.fa_icon }}"></i>{{ block.settings.meta_text }}</a>
                                    <!-- /.blog-one__meta-link -->
                                {% endfor %}
                                <!-- /.blog-one__meta-link -->
                            </div><!-- /.blog-one__meta -->
                        </div><!-- /.portfolio-popup__content -->
                    </div><!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="portfolio__popup-btn">
                            <a href="{{ section.settings.cta_link }}" class="thm-btn">{{ section.settings.cta_text }}</a>
                        </div><!-- /.portfolio__popup-btn -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.portfolio-popup__bottom -->
        </div><!-- /.container -->
    </div><!-- /.portfolio-popup__inner -->
</div><!-- /.portfolio-popup -->  

{% schema %}
{
    "name": "Popup Portfolio",
    "settings": [
        {
            "type": "image_picker",
            "id": "popup_image",
            "label": "Upload an image"
        },
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Change me"
        },
        {
            "type": "text",
            "id": "heading_link",
            "label": "Heading link",
            "default": "https://www.arnuld.net"
        },
        {
            "type": "text",
            "id": "cta_text",
            "label": "CTA text",
            "default": "View Website"
        },
        {
            "type": "text",
            "id": "cta_link",
            "label": "CTA link",
            "default": "https://www.arnuld.net"
        }
    ],
    "max_blocks": 3,
    "blocks": [
        {
            "type": "block",
            "name": "Meta",
            "settings": [
                {
                    "type": "text",
                    "id": "fa_icon",
                    "label": "FontAwesome icon class",
                    "info": "fa fa-user"
                },
                {
                    "type": "text",
                    "id": "meta_text",
                    "label": "Meta text"
                },
                {
                    "type": "text",
                    "id": "meta_link",
                    "label": "Meta link",
                    "default": "https://www.arnuld.net"
                }
            ]
        }
    ]
}
{% endschema %}