<section class="portfolio-one thm-gray-bg" id="portfolio">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.section_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.section_description }}</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                        <img src="{{ block.settings.block_image | img_url: 'master' }}" alt="{{ block.settings.block_dev_url | concat: forloop.index | downcase }}">
                        <a href="{{ block.settings.block_dev_url }}" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                            <!-- /.fa fa-search --></a>
                        <div class="portfolio-one__content" style="background-color: {{ block.settings.block_hover_color }};">
                            <h2 class="portfolio-one__title"><a href="{{ block.settings.block_dev_url }}">{{ block.settings.block_dev }}</a></h2>
                            <!-- /.portfolio-one__title -->
                            <p class="portfolio-one__category"><a href="{{ block.settings.link_url1 }}">{{ block.settings.block_specialization1 }}</a><span>,</span> <a
                                    href="{{ block.settings.link_url2 }}">{{ block.settings.block_specialization2 }}</a>
                            </p>
                            <!-- /.portfolio-one__category -->
                        </div><!-- /.portfolio-one__content -->
                    </div><!-- /.portfolio-one__single -->
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.portfolio-one -->

{% schema %}
{
    "name": "Portfolio section",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description"
        }
    ],
    "max_blocks": 6,
    "blocks": [
        {
            "type": "portfolio",
            "name": "Portfolio block",
            "settings": [
                {
                    "type": "color",
                    "id": "block_hover_color",
                    "label": "Block hover color",
                    "default": "rgba(237, 44, 65, 0.7)"
                },
                {
                    "type": "text",
                    "id": "block_dev",
                    "label": "Developer",
                    "default": "Arnuld"
                },
                {
                    "type": "text",
                    "id": "block_dev_url",
                    "label": "Developer's URL",
                    "default": "https://www.arnuld.net/about"
                },
                {
                    "type": "text",
                    "id": "block_specialization1",
                    "label": "Specialization 1",
                    "default": "Shopify"
                },
                {
                    "type": "text",
                    "id": "link_url1",
                    "label": "Link URL 1",
                    "default": "https://www.arnuld.net/shopify"
                },
                {
                    "type": "text",
                    "id": "block_specialization2",
                    "label": "Specialization 2",
                    "default": "WordPress"
                },
                {
                    "type": "text",
                    "id": "link_url2",
                    "label": "Link URL 2",
                    "default": "https://www.arnuld.net/wordpress"
                },
                {
                    "type": "image_picker",
                    "id": "block_image",
                    "label": "Upload an image"
                }
            ]
        }
        
    ]
}
{% endschema %}