<section class="portfolio-one thm-gray-bg" id="portfolio">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">Our latest projects</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">Over half of the fortune 100. Creatic design used by busy people from
                <br>
                amazing companies all over the world.</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-1.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-2.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-3.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-4.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-5.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="portfolio-one__single wow fadeInUp" data-wow-duration="1500ms">
                    <img src="{{ 'gallery-1-6.jpg' | asset_url }}" alt="">
                    <a href="#" class="portfolio-one__zoom"><i class="fa fa-search"></i>
                        <!-- /.fa fa-search --></a>
                    <div class="portfolio-one__content">
                        <h2 class="portfolio-one__title"><a href="#">Mokeh nehyt</a></h2>
                        <!-- /.portfolio-one__title -->
                        <p class="portfolio-one__category"><a href="#">Printing</a><span>,</span> <a
                                href="#">Media</a>
                        </p>
                        <!-- /.portfolio-one__category -->
                    </div><!-- /.portfolio-one__content -->
                </div><!-- /.portfolio-one__single -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.portfolio-one -->

{% style %}
    .portfolio-one__content { background-color: "{{ section.blocks.block_hover_color }}" }
{% endstyle %}

{% schema %}
{
    "name": "Portfolio section",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description"
        }
    ],
    "max_blocks": 6,
    "blocks": [
        {
            "type": "color_picker",
            "name": "block_hover_color"
        }
    ]
}
{% endschema %}