<section class="pricing-one" id="pricing">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.section_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.section_description }}</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="{{ block.settings.animation_delay }}">
                    <div class="pricing-one__single text-center"
                        style="background-image: url({{ block.settings.bg_image | img_url: 'master' }});">
                        <div class="pricing-one__inner">
                            <span class="pricing-one__period">{{ block.settings.subscription }}</span><!-- /.pricing-one__period -->
                            <h3 class="pricing-one__title">{{ block.settings.subscription_level }}</h3><!-- /.pricing-one__title -->
                            <p class="pricing-one__amount"><span>{{ cart.currency.symbol }}</span> {{ block.settings.subscription_amount | times: 100 | money_without_currency  }}</p><!-- /.pricing-one__amount -->
                            <span class="pricing-one__line"></span><!-- /.pricing-one__line -->
                            <ul class="list-unstyled pricing-one__list">
                                {% assign list_items = block.settings.benefits | newline_to_br | split: '<br />' %}
                                {% for list_item in list_items %}
                                    <li>{{ list_item }}</li>
                                {% endfor %}
                            </ul><!-- /.list-unstyled pricing-one__list -->
                            <a href="{{ block.settings.btn_link }}" class="pricing-one__btn thm-btn">{{ block.settings.btn_text }}</a><!-- /.pricing-one__btn -->
                        </div><!-- /.pricing-one__inner -->
                    </div><!-- /.pricing-one__single -->
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.pricing-one -->

{% schema %}
{
    "name": "Pricing",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Select the right plan for you"
        },
        {
            "type": "textarea",
            "id": "section_description",
            "label": "Section description",
            "default": "Choose the right subscription for your business. You can also cancel your subscription at any time, no worries."
        }
    ],
    "max_blocks": 3,
    "blocks": [
        {
            "type": "pricing",
            "name": "Price block",
            "settings": [
                {
                    "type": "range",
                    "id": "animation_delay",
                    "min": 0,
                    "max": 9500,
                    "step": 500,
                    "label": "Animation delay",
                    "unit": "ms",
                    "default": 1000
                },
                {
                    "type": "image_picker",
                    "id": "bg_image",
                    "label": "Upload a background image"
                },
                {
                    "type": "text",
                    "id": "subscription",
                    "label": "Subscription",
                    "default": "Monthly"
                },
                {
                    "type": "text",
                    "id": "subscription_level",
                    "label": "Subscription level",
                    "default": "Premium"
                },
                {
                    "type": "number",
                    "id": "subscription_amount",
                    "label": "Subscription amount",
                    "default": 12
                },
                {
                    "type": "textarea",
                    "id": "benefits",
                    "label": "Write one benefit per line"
                },
                {
                    "type": "text",
                    "id": "block_cta",
                    "label": "Button text",
                    "default": "Click to Get Started"
                },
                {
                    "type": "text",
                    "id": "btn_link",
                    "label": "Button URL",
                    "default": "https://www.arnuld.net/pricing"
                }
            ]
        }
    ]
}
{% endschema %}