<section class="team-one" id="team">
    <div class="container">
        <div class="block-title text-center">
            <h2 class="block-title__title">{{ section.settings.team_heading }}</h2><!-- /.block-title__title -->
            <span class="block-title__line"></span><!-- /.block-title__line -->
            <p class="block-title__text">{{ section.settings.team_description }}</p><!-- /.block-title__text -->
        </div><!-- /.block-title -->
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-lg-4">
                    <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms">
                        <div class="team-one__img">
                            <img src="{{ block.settings.profile | img_url: 'master' }}" alt="{{ block.settings.team_member | downcase }}">
                        </div><!-- /.team-one__img -->
                        <div class="team-one__content">
                            <h2 class="team-one__name">{{ block.settings.team_member }}</h2><!-- /.team-one__name -->
                            <p class="team-one__designation">{{ block.settings.team_position }}</p><!-- /.team-one__designation -->
                            <div class="team-one__social">
                                {% if block.settings.social_fb != "" %}
                                    <a href="{{ block.settings.social_fb }}"><i class="fa fa-facebook-f"></i><!-- /.fa fa-facebook --></a>
                                {% endif %}
                                {% if block.settings.social_yt != "" %}
                                    <a href="{{ block.settings.social_yt }}"><i class="fa fa-youtube"></i><!-- /.fa fa-youtube --></a>
                                {% endif %}
                                {% if block.settings.social_wa != "" %}
                                    <a href="{{ block.settings.social_wa }}"><i class="fa fa-whatsapp"></i><!-- /.fa fa-whatsapp --></a>
                                {% endif %}
                                {% if block.settings.social_ig != "" %}
                                    <a href="{{ block.settings.social_ig }}"><i class="fa fa-instagram"></i><!-- /.fa fa-instagram --></a>
                                {% endif %}
                                {% if block.settings.social_pin != "" %}
                                    <a href="{{ block.settings.social_pin }}"><i class="fa fa-pinterest-p"></i><!-- /.fa fa-pinterest --></a>
                                {% endif %}
                                {% if block.settings.social_li != "" %}
                                    <a href="{{ block.settings.social_li }}"><i class="fa fa-linkedin-in"></i><!-- /.fa fa-linkedin --></a>
                                {% endif %}
                                {% if block.settings.social_email != "" %}
                                    <a href="{{ block.settings.social_email }}"><i class="fa fa-envelope"></i><!-- /.fa fa-envelope --></a>
                                {% endif %}
                            </div><!-- /.team-one__social -->
                        </div><!-- /.team-one__content -->
                    </div><!-- /.team-one__single -->
                </div><!-- /.col-lg-4 -->
            {% endfor %}

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.team-one -->

{% schema %}
{
    "name": "Team section",
    "settings": [
        {
            "type": "text",
            "id": "team_heading",
            "label": "Team heading",
            "default": "Meet the Shopify expert"
        },
        {
            "type": "textarea",
            "id": "team_description",
            "label": "Team description",
            "default": "We have assembled an outstanding team, who are skilled in the business and corporate fields."
        }
    ],
    "max_blocks": 6,
    "blocks": [
        {
            "type": "team",
            "name": "Team block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "profile",
                    "label": "Upload a profile picture"
                },
                {
                    "type": "text",
                    "id": "team_member",
                    "label": "Team member's name"
                },
                {
                    "type": "text",
                    "id": "team_position",
                    "label": "Team member's position"
                },
                {
                    "type": "text",
                    "id": "social_email",
                    "label": "Email"
                },
                {
                    "type": "text",
                    "id": "social_fb",
                    "label": "Facebook URL"
                },
                {
                    "type": "text",
                    "id": "social_yt",
                    "label": "YouTube URL"
                },
                {
                    "type": "text",
                    "id": "social_wa",
                    "label": "WhatsApp URL"
                },
                {
                    "type": "text",
                    "id": "social_ig",
                    "label": "Instagram URL"
                },
                {
                    "type": "text",
                    "id": "social_pin",
                    "label": "Pinterest URL"
                },
                {
                    "type": "text",
                    "id": "social_li",
                    "label": "socialedIn URL"
                },
                {
                    "type": "text",
                    "id": "social_tw",
                    "label": "Twitter URL"
                }
            ]
        }
    ]
}
{% endschema %}