<section class="blog-one">
    <div class="container">
        <div class="row">
            {% paginate blog.articles by 10 %}                
                {% for article in blog.articles %}
                    <div class="col-lg-6">
                        <div class="blog-one__single">
                            <div class="blog-one__image wow fadeIn" data-wow-duration="1s">
                                {% if article.image %}
                                    <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.img.alt | downcase }}">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'w-20' }}
                                {% endif %}
                            </div><!-- /.blog-one__image -->
                            <div class="blog-one__content">
                                <h3 class="blog-one__title"><a href="{{ article.url }}">{{ article.title | escape }}</a></h3><!-- /.blog-one__title -->
                                <div class="blog-one__meta">
                                    <a href="#" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>{{ article.published_at | date: '%b %d, %Y' }}</a>
                                    <!-- /.blog-one__meta-link -->
                                </div><!-- /.blog-one__meta -->
                                {% if article.excerpt.size > 0 %}
                                    <p class="blog-one__text">{{ article.content | strip_html | truncatewords: 15 }}</p><!-- /.blog-one__text -->
                                {% endif %}
                                <a href="{{ article.url }}" class="blog-one__link btn_primary">Read More</a><!-- /.blog-one__link -->
                            </div><!-- /.blog-one__content -->
                        </div><!-- /.blog-one__single -->
                    </div><!-- /.col-lg-6 -->           
                {% endfor %}

                {% if paginate.pages > 1 %}                        
                    <div class="post-pagination col-lg-12">
                        {% if paginate.previous %}
                            <a href="{{ paginate.previous.url }}"><i class="fa fa-angle-double-left"></i><!-- /.fa fa-angle-double-left --></a>
                        {% endif %}

                        {% comment %}
                        <a href="#" class="active" title="You are here">1</a>
                        <a href="#">2</a>
                        <a href="#" class="disabled">...</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        {% endcomment %}

                        {% if paginate.next %}
                            <a href="{{ paginate.next.url }}"><i class="fa fa-angle-double-right"></i><!-- /.fa fa-angle-double-left --></a>
                        {% endif %}
                    </div><!-- /.post-pagination -->
                {% endif %}
            {% endpaginate %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% style %}
    .blog-one__link.btn_primary { background-color: {{ section.settings.btn_color }}; color: #ffffff; transition: all 0.65s ease; }
    .blog-one__link.btn_primary:hover { background-color: #ffffff; color: #1b181a; }
    .blog-one__title { line-height: 1.25; font-size: 24px; font-weight: 500; margin-bottom: 1rem; }
    .blog-one__single { margin-bottom: unset !important; }
    .blog-one__single .blog-one__image img { min-height: 320px; }
    .post-pagination a.active { pointer-events: none; }
    .post-pagination a:not(.active):hover { background-color: {{ section.settings.btn_color }}; color: #ffffff; transition: all 0.65s ease; }
    .disabled,
    .disabled:hover { background-color: transparent !important; pointer-events: none; }    
{% endstyle %}

{% schema %}
{
    "name": "Blog Posts",
    "settings": [
        {
            "type": "color",
            "id": "btn_color",
            "label": "Button color",
            "default": "#ed2c41"
        }
    ],
    "presets": [
        {
          "name": "Blog Posts",
          "category": "Blog"
        }
    ]
}
{% endschema %}