<section class="blog-one">
    <div class="container">
        <div class="row"> 
                {% for link in linklists.blogs.links %}
                    {% assign blog = link.object %} 
                    <!-- {{ blog }} -->
                    {% for article in blog.articles %}
                        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                    {% endfor %}
                {% endfor %}

                <!-- Pagination -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% style %}
    .blog-one__link.btn_primary { background-color: {{ section.settings.btn_color }}; color: #ffffff; transition: all 0.65s ease; }
    .blog-one__link.btn_primary:hover { background-color: #ffffff; color: #1b181a; }
    .blog-one__title { line-height: 1.25; font-size: 24px; font-weight: 500; margin-bottom: 1rem; }
    .blog-one__single { margin-bottom: unset !important; }
    .blog-one__single .blog-one__image img { min-height: 320px; }
    .post-pagination a.active { pointer-events: none; }
    .post-pagination a:not(.active):hover { background-color: {{ section.settings.btn_color }}; color: #ffffff; transition: all 0.65s ease; }
    .disabled,
    .disabled:hover { background-color: transparent !important; pointer-events: none; }  

    @media only screen and (max-width: 767px) {
        .blog-one { padding: 60px 0; }
    }

    @media only screen and (max-width: 375px) {
        .blog-one { padding: 15px 0; }
    }
{% endstyle %}

{% schema %}
{
    "name": "Blog Posts",
    "settings": [
        {
            "type": "color",
            "id": "btn_color",
            "label": "Button color",
            "default": "#ed2c41"
        }
    ],
    "presets": [
        {
          "name": "Blog Posts",
          "category": "Blog"
        }
    ]
}
{% endschema %}