<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details__content">
                    <h2 class="blog-details__title">{{ article.title }}</h2><!-- /.blog-details__title -->
                    <div class="blog-one__meta">
                        {% if section.settings.enable_author %}
                            <a href="{{ article.user.homepage }}" class="blog-one__meta-link"><i class="fa fa-user"></i>by {{ article.author }}</a>
                        {% endif %}
                        <!-- /.blog-one__meta-link -->
                        <a href="{{ article.comment_post_url }}" class="blog-one__meta-link"><i class="fa fa-comments"></i>{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</a>
                        <!-- /.blog-one__meta-link -->
                        {% if section.settings.enable_published_date %}
                            <a href="article.url" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>{{ article.published_at | date: '%b %d, %Y'}}{{ article.published_at | date: '%b %d, %Y' }}</a>
                        {% endif %}
                        <!-- /.blog-one__meta-link -->
                    </div><!-- /.blog-one__meta -->
                    
                    {% if article.image %}
                        <img class="img-fluid mb-3" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}">
                    {% endif %}

                    {{ article.content }}

                    <!-- /.blog-details__text -->

                    <div class="blog-details__share-tags">
                        <div class="blog-details__tags">
                            <span>Tags:</span>
                            {% for tag in article.tags %}
                                {{ tag | link_to_tag: tag }}
                            {% endfor %}

                        </div><!-- /.blog-details__tags -->
                        <div class="blog-details__share">
                            {% for block in section.blocks %}
                                <a href="{{ block.settings.social_link }}" class="{{ block.settings.social_icons }}"></a>
                            {% endfor %}
                        </div><!-- /.blog-details__share -->
                    </div><!-- /.blog-details__share -->
                    <div class="blog-details__author">
                        <div class="blog-details__author-img">
                            <img src="{{ section.settings.author | img_url: 'medium' }}" alt="author img">
                        </div><!-- /.blog-details__author-img -->
                        <div class="blog-details__author-content">
                            <h3 class="blog-details__author-name">{{ section.settings.author_name }}</h3><!-- /.blog-details__author-name -->
                            <p class="blog-details__author-bio">
                                {% if article.user.bio.empty? %}
                                    {{ section.settings.author_bio }}</p><!-- /.blog-details__author-bio -->
                                {% endif %}
                        </div><!-- /.blog-details__author-content -->
                    </div><!-- /.blog-details__author -->
                    
                    {% if blog.comments_enabled? %}
                    <div class="comment-one">                        
                        {% if article.comments_count > 0 %}
                            {%- assign anchorId = '#Comments-' | append: article.id -%}

                                <h2 class="comment-one__title">{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</h2><!-- /.comment-one__title -->
                                {% paginate article.comments by 5 %}
                                    {% for comment in article.comments %}
                                        <div id="{{ comment.id }}" class="comment-one__single" {% assign anchorId = '#Comments-' | append: article.id %}>
                                            <div class="comment-one__img">
                                                <img src="images/comment-1-1.jpg" alt="comment avatar">
                                            </div><!-- /.comment-one__img -->
                                            <div class="comment-one__content">
                                                <h3 class="comment-one__avatar-name">{{ article.user }}</h3><!-- /.comment-one__avatar-name -->
                                                <p class="comment-one__meta">
                                                    <a href="#">20 Mar, 2019</a>
                                                    <span class="comment-one__meta-sep">-</span><!-- /.comment-one__meta-sep -->
                                                    <a href="#">4.00 pm</a>
                                                </p><!-- /.comment-one__meta -->
                                                <p class="comment-one__text">{{ comment.content }}</p><!-- /.comment-one__text -->
                                                <a href="#" class="thm-btn comment-one__btn">Reply</a><!-- /.thm-btn comment-one__btn -->
                                            </div><!-- /.comment-one__content -->
                                        </div><!-- /.comment-one__single -->
                                    {% endfor %}                                    
                                    {% render 'pagination', paginate: paginate, anchor: anchorId %}

                                    {% comment %}
                                    <div class="comment-one__single">
                                        <div class="comment-one__img">
                                            <img src="images/comment-1-2.jpg" alt="comment avatar">
                                        </div><!-- /.comment-one__img -->
                                        <div class="comment-one__content">
                                            <h3 class="comment-one__avatar-name">Wesley Barker</h3><!-- /.comment-one__avatar-name -->
                                            <p class="comment-one__meta">
                                                <a href="#">20 Mar, 2019</a>
                                                <span class="comment-one__meta-sep">-</span><!-- /.comment-one__meta-sep -->
                                                <a href="#">4.00 pm</a>
                                            </p><!-- /.comment-one__meta -->
                                            <p class="comment-one__text">Lorem Ipsum is simply dummy text of the rinting and typesetting been the
                                                industry standard dummy text ever sincer nullam condimentum purus. In non ex at ligula fringilla
                                                lobortis et mauris auctor aliquet.</p><!-- /.comment-one__text -->
                                            <a href="#" class="thm-btn comment-one__btn">Reply</a><!-- /.thm-btn comment-one__btn -->
                                        </div><!-- /.comment-one__content -->
                                    </div><!-- /.comment-one__single -->
                                    {% endcomment %}
                                {% endpaginate %}
                        {% endif %}
                    </div><!-- /.comment-one -->
                    {% endif %}

                    <div class="comment-form">
                        <h2 class="comment-one__title">Leave a Comment</h2><!-- /.comment-one__title -->   
                        <form action="inc/sendemail.php" class="comment-form__form row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Name">
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Email">
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                                <textarea placeholder="Write Comments"></textarea>
                                <a href="#" class="thm-btn comment-form__btn">Submit Now</a><!-- /.thm-btn -->
                            </div><!-- /.col-lg-12 -->
                        </form><!-- /.comment-form__form -->
                    </div><!-- /.comment-form -->
                </div><!-- /.blog-details__content -->
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <form action="#" class="sidebar__search">
                            <input type="text" placeholder="Search here...">
                            <button type="submit"><i class="fa fa-search"></i><!-- /.fa fa-search --></button>
                        </form>
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">Categories</h2><!-- /.sidebar__title -->
                        <ul class="list-unstyled sidebar__cat-list">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Event Organisation</a></li>
                            <li><a href="#">Social Media</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Personal Life</a></li>
                        </ul><!-- /.sidebar__cat-list -->
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">About Us</h2><!-- /.sidebar__title -->
                        <img src="images/sidebar-1-1.jpg" alt="" class="sidebar__img">
                        <p class="sidebar__text">Lorem Ipsum is simply dummy text of the rinting and typesetting industry has been the
                            ndustry standard dummy.</p><!-- /.sidebar__text -->
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">Tags</h2><!-- /.sidebar__title -->
                        <div class="sidebar__tagslist">
                            <a href="#">business</a>
                            <a href="#">onepage</a>
                            <a href="#">agency</a>
                            <a href="#">corporate</a>
                            <a href="#">customers</a>
                            <a href="#">hello</a>
                            <a href="#">responsiveness</a>
                            <a href="#">professional</a>
                        </div><!-- /.sidebar__tagslist -->
                    </div><!-- /.sidebar__single -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-details -->

<style>
    .container.article > .flex {
        overflow-x: hidden;
    }

    blockquote {
        border-left: 5px solid #ed2c41;
        font-family: Georgia, "Times New Roman", Arial, sans-serif;
        max-width: 85%;
        padding-left: 30px;
    }

    @media only screen and (max-width: 767px) {
        blockquote {
            font-size: 1rem;
            line-height: 1.75;
            margin: 5% auto;
        }
    }

    @media only screen and (min-width: 768px) {
        blockquote {
            font-size: 1.25rem;
            line-height: unset;
            margin: 3% auto;
        }
    }
</style>

{% schema %}
{
    "name": "Blog Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        },
        {
            "type": "image_picker",
            "id": "author",
            "label": "Upload author's image"
        },
        {
            "type": "text",
            "id": "author_name",
            "label": "Author's Name"
        },
        {
            "type": "textarea",
            "id": "author_bio",
            "label": "Author's Bio"
        }
    ],
    "blocks": [
        {
            "type": "social-share",
            "name": "Social Share",
            "settings": [
                {
                    "type": "text",
                    "id": "social_icons",
                    "label": "FontAwesome Social Icon class"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Share URL",
                    "info": "https://"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Blog Article",
        "category": "Blog"
      }
    ]
}
{% endschema %}