<h1>{{ article.title }}</h1>
<small>{{ article.author }}</small>

<time datetime="{{ article.published_at | date: '%b %d, %Y'}}">{{ article.published_at | date: '%b %d, %Y' }}</time>

<img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">

<div class="">{{ article.content }}</div>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        }
    ]
}
{% endschema %}