<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="{% if section.settings.show_sidebar %}col-lg-8{% else %}col-lg-12{% endif %}">
                <article class="blog-details__content" itemscope itemtype="http://schema.org/BlogPosting">
                    <h1 class="blog-details__title" itemprop="headline">{{ article.title }}</h1><!-- /.blog-details__title -->
                    <div class="blog-one__meta">
                        {% if section.settings.enable_author %}
                            <a href="{{ article.user.homepage }}" class="blog-one__meta-link" itemscope itemtype="http://schema.org/Person"><i class="fa fa-user"></i>by <span itemprop="author">{{ article.author }}</span></a>
                        {% endif %}
                        <!-- /.blog-one__meta-link -->
                        <a href="{{ article.comment_post_url }}" class="blog-one__meta-link"><i class="fa fa-comments"></i>{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</a>
                        <!-- /.blog-one__meta-link -->
                        {% if section.settings.enable_published_date %}
                            <a href="article.url" class="blog-one__meta-link"><i class="fa fa-clock-o"></i><time itemprop="datePublished dateCreated">{{ article.published_at | date: '%B %d, %Y'}}</time></a>
                        {% endif %}
                        <!-- /.blog-one__meta-link -->
                    </div><!-- /.blog-one__meta -->
                    
                    {% if article.image %}
                        <img itemprop="image" class="img-fluid mb-3" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}">
                    {% endif %}

                    <div itemprop="articleBody" class="article-content">
                        {{ article.content }}
                    </div>

                    <!-- /.blog-details__text -->

                    <div class="blog-details__share-tags">
                        <div class="blog-details__tags">
                            <span>Tags:</span>
                            {% for tag in article.tags %}
                                {{ tag | link_to_tag: tag }}
                            {% endfor %}
                        </div><!-- /.blog-details__tags -->
                        <div class="blog-details__share">
                            {% for block in section.blocks %}
                                <a href="{{ block.settings.social_link }}" class="{{ block.settings.social_icons }}"></a>
                            {% endfor %}
                        </div><!-- /.blog-details__share -->
                    </div><!-- /.blog-details__share -->
                    <div class="blog-details__author">
                        <div class="blog-details__author-img">
                            <img src="{{ section.settings.author | img_url: 'medium' }}" alt="author img">
                        </div><!-- /.blog-details__author-img -->
                        <div class="blog-details__author-content">
                            <h3 class="blog-details__author-name">{{ section.settings.author_name }}</h3><!-- /.blog-details__author-name -->
                            <p class="blog-details__author-bio">
                                {% if article.user.bio %}
                                    {{ article.user.bio }}</p>
                                {% else %}
                                    {{ section.settings.author_bio }}</p>
                                {% endif %}<!-- /.blog-details__author-bio -->
                        </div><!-- /.blog-details__author-content -->
                    </div><!-- /.blog-details__author -->
          
                    <a id="#comments"></a>
                    
                    {% if blog.comments_enabled? %}
                    <div class="comment-one" id="comments">                        
                        {% if article.comments_count > 0 %}
                            {% assign anchorId = '#Comments-' | append: article.id %}

                                <h2 class="comment-one__title">{{ article.comments_count }} {{ article.comments_count | pluralize: 'Comment', 'Comments' }}</h2><!-- /.comment-one__title -->
                                {% paginate article.comments by 3 %}
                                    {% for comment in article.comments %}
                                        <div id="{{ comment.id }}" class="comment-one__single" {% assign anchorId = '#Comments-' | append: article.id %}>
                                            <div class="comment-one__img">
                                                <img src="{{ 'comment-1-1.jpg' | asset_url }}" alt="{{ comment.author | downcase }}">
                                            </div><!-- /.comment-one__img -->
                                            <div class="comment-one__content">
                                                <h3 class="comment-one__avatar-name">{{ comment.author }}</h3><!-- /.comment-one__avatar-name -->
                                                <p class="comment-one__meta">
                                                    <a href="#">{{ comment.created_at | date: '%B %d, %Y'}}</a>
                                                    <span class="comment-one__meta-sep">-</span><!-- /.comment-one__meta-sep -->
                                                    <a href="#">{{ comment.created_at | date: '%I:%M %p'}}</a>
                                                </p><!-- /.comment-one__meta -->
                                                <p class="comment-one__text">{{ comment.content }}</p><!-- /.comment-one__text -->
                                                <a href="#" class="thm-btn comment-one__btn btn-disabled">Reply</a><!-- /.thm-btn comment-one__btn -->
                                            </div><!-- /.comment-one__content -->
                                        </div><!-- /.comment-one__single -->
                                    {% endfor %}    

                                    {%comment%}{% render 'pagination', paginate: paginate, anchor: anchorId %}{%endcomment%}
                                {% endpaginate %}
                        {% endif %}
                    </div><!-- /.comment-one -->
                    {% endif %}
                                
                    {% if article.comments_count > 0 %}
                        <div class="post-pagination">
                        {% paginate article.comments by 3 %}
                            {% if paginate.previous %}
                                <a href="{{ paginate.previous.url }}">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            {% endif %}
                            {% for part in paginate.parts %}
                                <a href="{{ part.url }}"{% if part.is_link == false %} class="active"{% endif %}>{{ part.title }}</a>
                            {% endfor %}
                            {% if paginate.next %}
                                <a href="{{ paginate.next.url }}">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            {% endif %}
                        {% endpaginate %}
                        </div><!-- /.post-pagination -->  
                    {% endif %}

                    <div class="comment-form">
                        <h2 class="comment-one__title">Leave a Comment</h2><!-- /.comment-one__title -->   
                        {% form 'new_comment', article, class:'comment-form__form row' %}
                            {{ form.errors | default_errors }}
                          
                            <div class="name col-lg-6">
                              <input type="text" name="comment[author]" value="{{ form.author }}" placeholder="Your Name">
                            </div>
                          
                            <div class="email col-lg-6">
                              <input type="email" name="comment[email]" value="{{ form.email }}" placeholder="Your Email">
                            </div>
                          
                            <div class="comment col-lg-12">
                              <textarea name="comment[body]" placeholder="Write Comments">{{ form.body }}</textarea>
                            </div>
                          
                            <div class="submit text-center px-3">
                              <input type="submit" value="Post" class="thm-btn comment-form__btn px-3">
                            </div>
                        {% endform %}
                    </div><!-- /.comment-form -->
                </article><!-- /article.blog-details__content -->
            </div><!-- /.col-lg-8 -->
            {% if section.settings.show_sidebar %}
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="sidebar__single">
                            <form action="{{ routes.search_url }}" class="sidebar__search">
                                <input type="text"
                                  placeholder="Search here..."
                                  name="q"
                                  value="{{ search.terms | escape }}"
                                >
                                <button type="submit"><i class="fa fa-search"></i><!-- /.fa fa-search --></button>
                            </form>
                        </div><!-- /.sidebar__single -->
                        <div class="sidebar__single">
                            <h2 class="sidebar__title">Categories</h2><!-- /.sidebar__title -->                            
                            <ul class="list-unstyled sidebar__cat-list">
                                <!-- {{ article.metafields.custom.category }} -->
                                <li>
                                    <a href="{{ blog.url }}">{{ blog.handle | camelcase }}</a>
                                </li>
                            </ul><!-- /.sidebar__cat-list -->              
                        </div><!-- /.sidebar__single -->
                        <div class="sidebar__single">
                            <h2 class="sidebar__title">Tags</h2><!-- /.sidebar__title -->
                            <div class="sidebar__tagslist">
                                {% for tag in article.tags %}
                                    <a href="#">{{ tag | downcase }}</a>
                                {% endfor %}
                            </div><!-- /.sidebar__tagslist -->
                        </div><!-- /.sidebar__single -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-lg-4 -->
            {% endif %}
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-details -->

<style>
    .sidebar__cat-list li a:hover {
        color: #ed2c41;
    }

    .container.article > .flex {
        overflow-x: hidden;
    }

    .thm-btn {
        background-color: #ed2c41 !important;
        border: none !important;
        border-radius: 30.5px;
        color: #fff !important;
        display: inline-block !important;
        font-weight: bold;
        font-size: 16px !important;
        max-height: 61px;
        outline: none !important;
        padding: 15.5px 75.5px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        vertical-align: middle !important;
        width: 234px !important;
    }

    .thm-btn:hover {
        background-color: #1b181a !important;
        color: #fff !important;
    }

    .comment-one__btn {
        display: flex !important;
        align-items: center;
        justify-content: center;
        height: 45px;
        max-width: 94px;
        padding: 15.5px;
    }

    .btn-disabled,
    .btn-disabled:hover {
        background-color: #e9e9e9 !important;
        cursor: default;
    }

    blockquote {
        border-left: 5px solid #ed2c41;
        font-family: Georgia, "Times New Roman", Arial, sans-serif;
        max-width: 85%;
        padding-left: 30px;
    }

    #comment_form input:not(.comment-form__btn):focus,
    #comment_form textarea:focus {
        border: 1px solid #cbcbcb;
    }

    @media only screen and (max-width: 767px) {
        blockquote {
            font-size: 1rem;
            line-height: 1.75;
            margin: 5% auto;
        }
    }

    @media only screen and (min-width: 768px) {
        blockquote {
            font-size: 1.25rem;
            line-height: unset;
            margin: 3% auto;
        }
    }
</style>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        "image": [
            {{ article.image | img_url: "medium" | prepend: 'https:' | json }}
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: format: "default" | json  }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }},
        "url": {{ shop.url }}
    },
    "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Blog Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_sidebar",
            "default": true,
            "label": "Show sidebar"
        },
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        },
        {
            "type": "image_picker",
            "id": "author",
            "label": "Upload author's image"
        },
        {
            "type": "text",
            "id": "author_name",
            "label": "Author's Name"
        },
        {
            "type": "textarea",
            "id": "author_bio",
            "label": "Author's Bio"
        }
    ],
    "blocks": [
        {
            "type": "social-share",
            "name": "Social Share",
            "settings": [
                {
                    "type": "text",
                    "id": "social_icons",
                    "label": "FontAwesome Social Icon class"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Share URL",
                    "info": "https://"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Blog Article",
        "category": "Blog"
      }
    ]
}
{% endschema %}