<div class="container py-3 py-md-4 py-lg-5">
    <h1>{{ article.title }}</h1>
    {% if section.settings.enable_author %}
        <small>{{ article.author }}</small>
    {% endif %}

    {% if section.settings.enable_published_date %}
        <time datetime="{{ article.published_at | date: '%b %d, %Y'}}">{{ article.published_at | date: '%b %d, %Y' }}</time>
    {% endif %}

    <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">

    <div class="">{{ article.content }}</div>
</div>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        }
    ]
}
{% endschema %}