<div class="container py-3 py-md-4 py-lg-5">
    {% paginate blog.articles by 10 %}
        {% for article in blog.articles %}
            <div>
                {% if article.image %}
                    <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.img.alt | downcase }}">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'w-20' }}
                {% endif %}
            </div>
        {% endfor %}
        <h1>{{ article.title }}</h1>

        {% if article.excerpt.size > 0 %}

        {% else %}
            <p>{{ article.content | strip_html | truncatewords: 15 }}</p>
        {% endif %}
    {% endpaginate %}
</div>

{% schema %}
{
    "name": "Template Blog",
    "settings": []
}
{% endschema %}