<div class="container article flex flex-column py-3 py-md-4 py-lg-5">
    <div class="flex flex-column">
        <h1 class="font-weight-bold mb-3 mb-md-2 mb-lg-1">{{ article.title }}</h1>
        <div class="meta mb-3">
            {% if section.settings.enable_author %}
                <small>{{ article.author }}</small>
            {% endif %}

            {% if section.settings.enable_published_date %}
                <time datetime="{{ article.published_at | date: '%b %d, %Y'}}">{{ article.published_at | date: '%b %d, %Y' }}</time>
            {% endif %}
        </div>
        <img class="mb-3" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}">
    </div>
    <div class="">{{ article.content }}</div>
</div>

<style>
    .container.article > .flex {
        overflow-x: hidden;
    }

    @media only screen and (max-width: 767px) {
        blockquote {
            border-left: 5px solid #ed2c41;
            font-size: 1rem;
            line-height: 1.75;
            max-width: 85%;
            margin: 5% auto;
            padding-left: 30px;
        }
    }

    @media only screen and (min-width: 768px) {
        blockquote {
            font-size: 1.25rem;
            line-height: unset;
            margin: 3% auto;
        }
    }
</style>

{% schema %}
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        }
    ]
}
{% endschema %}