<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details__content">
                    <h2 class="blog-details__title">{{ article.title }}</h2><!-- /.blog-details__title -->
                    <div class="blog-one__meta">
                        <a href="{{ article.user.homepage }}" class="blog-one__meta-link"><i class="fa fa-user"></i>by {{ article.author }}</a>
                        <!-- /.blog-one__meta-link -->
                        <a href="{{ article.comment_post_url }}" class="blog-one__meta-link"><i class="fa fa-comments"></i>{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</a>
                        <!-- /.blog-one__meta-link -->
                        <a href="article.url" class="blog-one__meta-link"><i class="fa fa-clock-o"></i>{{ article.published_at | date: '%b %d, %Y'}}">{{ article.published_at | date: '%b %d, %Y' }}</a>
                        <!-- /.blog-one__meta-link -->
                    </div><!-- /.blog-one__meta -->
                    
                    {% if article.image %}
                        <img class="img-fluid mb-3" src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt }}">
                    {% endif %}

                    {{ article.content }}

                    <!-- /.blog-details__text -->

                    <div class="blog-details__share-tags">
                        <div class="blog-details__tags">
                            <span>Tags:</span>
                            {% for tag in article.tags %}
                                {{ tag | link_to_tag: tag }}
                            {% endfor %}

                        </div><!-- /.blog-details__tags -->
                        <div class="blog-details__share">
                            {% for block in section.blocks %}
                                <a href="{{ block.settings.social_link }}" class="{{ block.settings.social_icons }}"></a>
                            {% endfor %}
                        </div><!-- /.blog-details__share -->
                    </div><!-- /.blog-details__share -->
                    <div class="blog-details__author">
                        <div class="blog-details__author-img">
                            <img src="{{ section.settings.author | img_url: 'medium' }}" alt="author img">
                        </div><!-- /.blog-details__author-img -->
                        <div class="blog-details__author-content">
                            <h3 class="blog-details__author-name">
                                {% if article.author %}
                                    {{ article.author }}
                                {% else %}
                                    {{ section.settings.author_name }}</h3><!-- /.blog-details__author-name -->
                                {% endif %}
                            </h3>
                            <p class="blog-details__author-bio">
                                {% if section.settings.author_bio != '' %}
                                    {{ section.settings.author_bio }}</p><!-- /.blog-details__author-bio -->
                                {% else %}
                                    No bio for this author. Go to the article page and enter them in the sidebar.
                                {% endif %}
                        </div><!-- /.blog-details__author-content -->
                    </div><!-- /.blog-details__author -->
                    
                    {% if blog.comments_enabled? %}
                    <div class="comment-one">                        
                        {% if article.comments_count > 0 %}
                            {%- assign anchorId = '#Comments-' | append: article.id -%}

                                <h2 class="comment-one__title">{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</h2><!-- /.comment-one__title -->
                                {% paginate article.comments by 5 %}
                                    {% for comment in article.comments %}
                                        <div id="{{ comment.id }}" class="comment-one__single" {% assign anchorId = '#Comments-' | append: article.id %}>
                                            <div class="comment-one__img">
                                                <img src="images/comment-1-1.jpg" alt="comment avatar">
                                            </div><!-- /.comment-one__img -->
                                            <div class="comment-one__content">
                                                <h3 class="comment-one__avatar-name">{{ article.user }}</h3><!-- /.comment-one__avatar-name -->
                                                <p class="comment-one__meta">
                                                    <a href="#">20 Mar, 2019</a>
                                                    <span class="comment-one__meta-sep">-</span><!-- /.comment-one__meta-sep -->
                                                    <a href="#">4.00 pm</a>
                                                </p><!-- /.comment-one__meta -->
                                                <p class="comment-one__text">{{ comment.content }}</p><!-- /.comment-one__text -->
                                                <a href="#" class="thm-btn comment-one__btn">Reply</a><!-- /.thm-btn comment-one__btn -->
                                            </div><!-- /.comment-one__content -->
                                        </div><!-- /.comment-one__single -->
                                    {% endfor %}                                    
                                    {% render 'pagination', paginate: paginate, anchor: anchorId %}

                                    {% comment %}
                                    <div class="comment-one__single">
                                        <div class="comment-one__img">
                                            <img src="images/comment-1-2.jpg" alt="comment avatar">
                                        </div><!-- /.comment-one__img -->
                                        <div class="comment-one__content">
                                            <h3 class="comment-one__avatar-name">Wesley Barker</h3><!-- /.comment-one__avatar-name -->
                                            <p class="comment-one__meta">
                                                <a href="#">20 Mar, 2019</a>
                                                <span class="comment-one__meta-sep">-</span><!-- /.comment-one__meta-sep -->
                                                <a href="#">4.00 pm</a>
                                            </p><!-- /.comment-one__meta -->
                                            <p class="comment-one__text">Lorem Ipsum is simply dummy text of the rinting and typesetting been the
                                                industry standard dummy text ever sincer nullam condimentum purus. In non ex at ligula fringilla
                                                lobortis et mauris auctor aliquet.</p><!-- /.comment-one__text -->
                                            <a href="#" class="thm-btn comment-one__btn">Reply</a><!-- /.thm-btn comment-one__btn -->
                                        </div><!-- /.comment-one__content -->
                                    </div><!-- /.comment-one__single -->
                                    {% endcomment %}
                                {% endpaginate %}
                        {% endif %}
                    </div><!-- /.comment-one -->
                    {% endif %}

                    {% form 'new_comment', article %}
                        {%-liquid
                          assign post_message = 'blogs.article.success'
                          if blog.moderated? and comment.status == 'unapproved'
                            assign post_message = 'blogs.article.success_moderated'
                          endif
                        %}
                            <div class="comment-form">
                                <h2 class="comment-one__title">
                                    {% if {{ 'blogs.article.comment_form_title' }} %}
                                        {{ 'blogs.article.comment_form_title' }}
                                    {% else %}
                                        Leave a Comment
                                    {% endif %}
                                </h2><!-- /.comment-one__title -->   
                                {% if form.errors %}
                                    <div class="form__message" role="alert">
                                      <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                                        {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
                                      </h3>
                                    </div>
                                    <ul class="form-status-list caption-large">
                                      {%- for field in form.errors -%}
                                        <li>
                                          <a href="#CommentForm-{{ field }}" class="link">
                                            {%- if form.errors.translated_fields[field] contains 'author' -%}
                                              {{ 'blogs.article.name' | t }}
                                            {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                                             {{ 'blogs.article.message' | t }}
                                            {%- else -%}
                                              {{ form.errors.translated_fields[field] }}
                                            {%- endif -%}
                                            {{ form.errors.messages[field] }}
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                {% elsif form.posted_successfully? %}
                                    <div class="form-status-list form__message" role="status">
                                      <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
                                    </div>
                                {% endif %}

                                <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
                                  <div class="article-template__comment-fields">
                                    <div class="field field--with-error">
                                      <input
                                        type="text"
                                        name="comment[author]"
                                        id="CommentForm-author"
                                        class="field__input"
                                        autocomplete="name"
                                        value="{{ form.author }}"
                                        aria-required="true"
                                        required
                                        {% if form.errors contains 'author' %}
                                          aria-invalid="true"
                                          aria-describedby="CommentForm-author-error"
                                        {% endif %}
                                        placeholder="{{ 'blogs.article.name' | t }}"
                                      >
                                      <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                                      {%- if form.errors contains 'author' -%}
                                        <small id="CommentForm-author-error">
                                          <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                                        </small>
                                      {%- endif -%}
                                    </div>
                                    <div class="field field--with-error">
                                      <input
                                        type="email"
                                        name="comment[email]"
                                        id="CommentForm-email"
                                        autocomplete="email"
                                        class="field__input"
                                        value="{{ form.email }}"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        aria-required="true"
                                        required
                                        {% if form.errors contains 'email' %}
                                          aria-invalid="true"
                                          aria-describedby="CommentForm-email-error"
                                        {% endif %}
                                        placeholder="{{ 'blogs.article.email' | t }}"
                                      >
                                      <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                                      {%- if form.errors contains 'email' -%}
                                        <small id="CommentForm-email-error">
                                          <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                                        </small>
                                      {%- endif -%}
                                    </div>
                                  </div>
                                  <div class="field field--with-error">
                                    <textarea
                                      rows="5"
                                      name="comment[body]"
                                      id="CommentForm-body"
                                      class="text-area field__input"
                                      aria-required="true"
                                      required
                                      {% if form.errors contains 'body' %}
                                        aria-invalid="true"
                                        aria-describedby="CommentForm-body-error"
                                      {% endif %}
                                      placeholder="{{ 'blogs.article.message' | t }}"
                                    >{{ form.body }}</textarea>
                                      <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
                                  </div>
                                  {%- if form.errors contains 'body' -%}
                                    <small id="CommentForm-body-error">
                                      <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                                    </small>
                                  {%- endif -%}
                                </div>
                                {%- if blog.moderated? -%}
                                  <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                                {%- endif -%}
                                <input type="submit" class="button" value="{{ 'blogs.article.post' | t }}">
                    {% endform %}
                            </div><!-- /.comment-form -->
                </div><!-- /.blog-details__content -->
            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__single">
                        <form action="#" class="sidebar__search">
                            <input type="text" placeholder="Search here...">
                            <button type="submit"><i class="fa fa-search"></i><!-- /.fa fa-search --></button>
                        </form>
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">Categories</h2><!-- /.sidebar__title -->
                        <ul class="list-unstyled sidebar__cat-list">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Event Organisation</a></li>
                            <li><a href="#">Social Media</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Personal Life</a></li>
                        </ul><!-- /.sidebar__cat-list -->
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">About Us</h2><!-- /.sidebar__title -->
                        <img src="images/sidebar-1-1.jpg" alt="" class="sidebar__img">
                        <p class="sidebar__text">Lorem Ipsum is simply dummy text of the rinting and typesetting industry has been the
                            ndustry standard dummy.</p><!-- /.sidebar__text -->
                    </div><!-- /.sidebar__single -->
                    <div class="sidebar__single">
                        <h2 class="sidebar__title">Tags</h2><!-- /.sidebar__title -->
                        <div class="sidebar__tagslist">
                            <a href="#">business</a>
                            <a href="#">onepage</a>
                            <a href="#">agency</a>
                            <a href="#">corporate</a>
                            <a href="#">customers</a>
                            <a href="#">hello</a>
                            <a href="#">responsiveness</a>
                            <a href="#">professional</a>
                        </div><!-- /.sidebar__tagslist -->
                    </div><!-- /.sidebar__single -->
                </div><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-details -->

<style>
    .container.article > .flex {
        overflow-x: hidden;
    }

    blockquote {
        border-left: 5px solid #ed2c41;
        font-family: Georgia, "Times New Roman", Arial, sans-serif;
        max-width: 85%;
        padding-left: 30px;
    }

    @media only screen and (max-width: 767px) {
        blockquote {
            font-size: 1rem;
            line-height: 1.75;
            margin: 5% auto;
        }
    }

    @media only screen and (min-width: 768px) {
        blockquote {
            font-size: 1.25rem;
            line-height: unset;
            margin: 3% auto;
        }
    }
</style>

{% schema %}
{
    "name": "Blog Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Show Author Name"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Show published date"
        },
        {
            "type": "image_picker",
            "id": "author",
            "label": "Upload author's image"
        },
        {
            "type": "text",
            "id": "author_name",
            "label": "Author's Name"
        },
        {
            "type": "textarea",
            "id": "author_bio",
            "label": "Author's Bio"
        }
    ],
    "blocks": [
        {
            "type": "social-share",
            "name": "Social Share",
            "settings": [
                {
                    "type": "text",
                    "id": "social_icons",
                    "label": "FontAwesome Social Icon class"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Share URL",
                    "info": "https://"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Blog Article",
        "category": "Blog"
      }
    ]
}
{% endschema %}